.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    border-bottom: solid 0.1px $lightgrey;

    &__logo {
        width: 60%;

        @include tablet {
            width: 50%;
        }

        @include desktop {
            width: 70%;
        }
    }

    &__carrito {
        padding: 10px 20px 10px 18px;
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: $lightpurple;
        border-radius: 10px;
        font-weight: $bold;
        color: $purple;

        p {
            display: none;
            font-size: 1.4rem;

            @include desktop {
                display: inline-block;
            }
        }

        .fa-cart-shopping {
            font-size: 1.8rem;
        }
    }
}