.pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 0px;
    margin: 40px 0px;

    &__number {
        background-color: $white;
        border: 1px solid $lightgrey;
        border-radius: 5px;
        font-size: 1.2rem;
        padding: 10px 15px;
        color: $lightgrey;
        font-weight: $light;
    }
}