/* Font */
$mainfont: 'Poppins', sans-serif;

/* Fonts weight */
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;

/* Colors */
$white: white;
$lightgrey: #e1e1e1;
$lightgreytwo: #3d3a50;
$darkgrey: #1a1c22;
$lightpurple: #e7dbff;
$purple: #580ef6;

/* Media Queries */
$tablet: 380px;
$desktop: 900px;